body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #calculator {
    background: #000000;
    border-radius: 25px;
    box-shadow: -5px -5px 10px #5b5a5a, 5px 5px 15px #505153;
    padding: 20px;
  }
  
  .textview {
    background: grey;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: inset -2px -2px 5px #3b3939, inset 2px 2px 5px #babecc;
    width: 100%;
    margin: 10px 0;
    text-align: right;
    padding: 1500px;
    font-size: 18px;
    color: #000000;
  }
  
  .number-button {
    background: gray;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: -2px -2px 5px #3b3939, 2px 2px 5px #494a4d;
    width: 60px;
    height: 60px;
    margin: 7px;
    font-size: 22px;
    color: #020202;
    cursor: pointer;
  }
  
  .number-button:active {
    box-shadow: inset -2px -2px 5px #2b2b2b, inset 2px 2px 5px #161617;
  }

  .operator-button{
    background: #fd8d03;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: -2px -2px 5px #f38907, 2px 2px 5px #f38907;
    width: 60px;
    height: 60px;
    margin: 7px;
    font-size: 22px;
    color: #020202;
    cursor: pointer;
  }

  .operator-button:active {
    box-shadow: inset -2px -2px 5px #9f5a06, inset 2px 2px 5px #9f5a06;
  }
  
  .clear-button{
    background: #ff0000;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: -2px -2px 5px #ff0000, 2px 2px 5px #ff0000;
    width: 60px;
    height: 60px;
    margin: 7px;
    font-size: 22px;
    color: #020202;
    cursor: pointer;
  }

  .clear-button:active {
    box-shadow: inset -2px -2px 5px #b30b0b, inset 2px 2px 5px #b30b0b;
  }

.back-button{
  background: #00a6ff;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: -2px -2px 5px #00a6ff, 2px 2px 5px #00a6ff;
    width: 60px;
    height: 60px;
    margin: 7px;
    font-size: 22px;
    color: #020202;
    cursor: pointer;
 }

 .back-button:active {
  box-shadow: inset -2px -2px 5px #4a4848, inset 2px 2px 5px #4a4b4c;
}

  table {
    border-spacing: 10px;
    margin: auto;
  }
  
  .equal {
    height: 128px;
    grid-row: span 2;
  }

  #myName{
    font-size: 16px;
    color:#797474;
  }

  
  
