body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #calculator {
    background: #000000;
    border-radius: 25px;
    box-shadow: -5px -5px 10px #5b5a5a, 5px 5px 15px #505153;
    padding: 20px;
  }
  
  .textview {
    background: #6d7070;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: inset -2px -2px 5px #3b3939, inset 2px 2px 5px #babecc;
    width: 100%;
    margin: 10px 0;
    text-align: right;
    padding: 1500px;
    font-size: 18px;
    color: #000000;
  }
  
  .button {
    background: #424444;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: -2px -2px 5px #696464, 2px 2px 5px #494a4d;
    width: 60px;
    height: 60px;
    margin: 7px;
    font-size: 22px;
    color: #020202;
    cursor: pointer;
  }
  
  .button:active {
    box-shadow: inset -2px -2px 5px #4a4848, inset 2px 2px 5px #4a4b4c;
  }
  

  table {
    border-spacing: 10px;
    margin: auto;
  }
  
  .equal {
    height: 128px;
    grid-row: span 2;
  }

  #myName{
    font-size: 16px;
    color:#797474;
  }

@media (max-width: 600px) {
    .textview {
        width: 100%;
    }
    .button {
        width: 25%;
        font-size: 20px;
    }
}

  
  
